{% extends "index.html" %}
  {% load staticfiles %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!-- <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script> -->
  <!-- <link rel = 'stylesheet' href="{% static 'Bootstrap/css/bootstrap.css' %}" type = "text/css"/> -->
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
   <!--correspond to the home.html page-->
   <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
   <!-- <link rel="stylesheet" href="{% static 'home/css/interface.css' %}"> -->
  
        <!-- <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'> -->

        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
        
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

{% block content %}

           <div class="container">
                <div style="padding-top:15%">
                        
            <div class="row">
                <form name="/makeNote/" id="contact-form" class="contact-form" method="POST"> {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <input type="text" class="form-control" name="noteTitle" autocomplete="off" id="Name" placeholder="Note Title">
                                  </div>
                              </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <input type="Date" class="form-control" name="myDate" autocomplete="off" id="email" placeholder="dd/mm/yyyy">
                                  </div>
                              </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                  <div class="form-group">
                                    <textarea class="form-control textarea" rows="3" name="myNote" id="myMessage" placeholder="Message"></textarea>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                          <button type="submit" class="btn main-btn pull-right">Add Note</button>
                          </div>
                          </div>
                        </form>
            </div>
                </div>
        </div>

{% endblock%}
