{% extends "index.html" %}
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<!-- <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script> -->
<!-- <link rel = 'stylesheet' href="{% static 'Bootstrap/css/bootstrap.css' %}" type = "text/css"/> -->
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
 <!--correspond to the home.html page-->
 <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
 <!-- <link rel="stylesheet" href="{% static 'home/css/interface.css' %}"> -->

      <!-- <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'> -->

      <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
      
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

{% block content %}
<div class="container"> 
        <div style="padding-top:15%">
                
<table class="w3-table w3-bordered">
        <tr style="background-color: #18b387">
          <th>Note name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Select</th>
        </tr>
        
        <tr>
          <td>oki</td>
          <td>orange</td>
          <td>23/11/1997t</td>
          <td><input type="checkbox" name="name1" />&nbsp;</td>
        </tr>
    
      </table>
    </div>
</div>
</div>

<br>
<center> 
<button type="button" class="btn btn-lg btn-danger">Delete</button>
<button type="button" class="btn btn-lg btn-success">Update</button>

</center>

{% endblock%}
