{% load staticfiles %}
<html>
    <head>
        <title>Logbook</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
            <div class="page-header">
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Add New Note</a>
                <h1><a href="{% url 'post_list' %}"><span class="glyphicon glyphicon-home"></span>&ensp;Simple LogBook</a></h1>
<h3><a style="padding-top:20px" class="pull-right" href="{% url 'login' %}"> <span class="glyphicon glyphicon-off"></span>&ensp;LogOut</a> </h3>
            </div>

            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
</html>